<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    
        <h1>{{ heading }}</h1>
        <p></p>
        <a href="/">|Go Home|</a>

        <p></p>
        
        <h3>Author: {{ author }}</h3>
        <p>----------------------------------------------------------------------------</p>
        <ul>
            <h5>Tickets Assigned To You:</h5>
            {% for ticket in tickets %}
            {% if ticket.assigned_to == author %}
                <li>Title: {{ ticket.title }}</li>
                <li>When Filed: {{ ticket.dt_filed }}</li>
                <li>Description: {{ ticket.description }}</li>
                <li>Assigned to: {{ ticket.assigned_to }}</li>
                <li>Filed by: {{ ticket.filed_by }}</li>
                <li>Completed by: {{ ticket.completed_by }}</li>
                <li>Status: {{ ticket.ticket_status }}</li>
                <a href="/ticket/edit/{{ ticket.id }}/">Edit Ticket</a>

                <p>----------------------------------------------------------------------------</p>
                {% else%}
                    <p><em>None yet</em></p>
            {% endif %}
            {% endfor %}

        </ul>
            
        <p></p>

        <ul>
            <h5>Tickets Filed By You:</h5>
            {% for ticket in tickets %}
            {% if ticket.filed_by == author %}
                <li>Title: {{ ticket.title }}</li>
                <li>When Filed: {{ ticket.dt_filed }}</li>
                <li>Description: {{ ticket.description }}</li>
                <li>Filed by: {{ ticket.filed_by }}</li>
                <li>Assigned to: {{ ticket.assigned_to }}</li>
                <li>Completed by: {{ ticket.completed_by }}</li>
                <li>Status: {{ ticket.ticket_status }}</li>
                <a href="/ticket/edit/{{ ticket.id }}/">Edit Ticket</a>

                <p>----------------------------------------------------------------------------</p>
                {% else%}
                    <p><em>None yet</em></p>
                {% endif %}
            {% endfor %}

        </ul>

        <p></p>

        <ul>
            <h5>Tickets Completed By You:</h5>
            {% for ticket in tickets %}
            {% if ticket.completed_by == author %}
                <li>Title: {{ ticket.title }}</li>
                <li>When Filed: {{ ticket.dt_filed }}</li>
                <li>Description: {{ ticket.description }}</li>
                <li>Completed by: {{ ticket.completed_by }}</li>
                <li>Filed by: {{ ticket.filed_by }}</li>
                <li>Assigned to: {{ ticket.assigned_to }}</li>
                <li>Status: {{ ticket.ticket_status }}</li>
                <a href="/ticket/edit/{{ ticket.id }}/">Edit Ticket</a>

                <p>----------------------------------------------------------------------------</p>
                {% else%}
                    <p><em>None yet</em></p>
                {% endif %}
            {% endfor %}

        </ul>

    {% if form %}
    
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit!">
        </form>
    {% endif %}
    

    
</body>