<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
   
    <p></p>
        <h4>New</h4>
        {% for item in tickets %}
        {% if item.ticket_status == 'NW' %}

            <p>Title: {{ item.title }}</p>
            <p>When Filed: {{ item.dt_filed }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Filed by: {{ item.filed_by }}</p>
            <p>Status: {{ item.ticket_status }}</p>
            <p>Assigned To: {{ item.assigned_to }}</p>
            <p>Completed By: {{ item.completed_by }}</p>
            <p>----------------------------------------------------------------------------</p>
            
            {% endif %}
        {% endfor %}

        <p></p>

        <p>
            <h4>Working On It...</h4>
            {% for item in tickets %}
            {% if item.ticket_status == 'IP' %}
    
                <p>Title: {{ item.title }}</p>
                <p>When Filed: {{ item.dt_filed }}</p>
                <p>Description: {{ item.description }}</p>
                <p>Filed by: {{ item.filed_by }}</p>
                <p>Status: {{ item.ticket_status }}</p>
                <p>Assigned To: {{ item.assigned_to }}</p>
                <p>Completed By: {{ item.completed_by }}</p>
                <p>----------------------------------------------------------------------------</p>
                
                {% endif %}
            {% endfor %}
    
            <p></p>


            <p>
                <h4>Done-zo!</h4>
                {% for item in tickets %}
                {% if item.ticket_status == 'DN' %}
        
                    <p>Title: {{ item.title }}</p>
                    <p>When Filed: {{ item.dt_filed }}</p>
                    <p>Description: {{ item.description }}</p>
                    <p>Filed by: {{ item.filed_by }}</p>
                    <p>Status: {{ item.ticket_status }}</p>
                    <p>Assigned To: {{ item.assigned_to }}</p>
                    <p>Completed By: {{ item.completed_by }}</p>
                    <p>----------------------------------------------------------------------------</p>
                    
                    {% endif %}
                {% endfor %}
        
                <p></p>

                    <h4>:( Invalid</h4>
                    {% for item in tickets %}
                    {% if item.ticket_status == 'IN' %}
            
                        <p>Title: {{ item.title }}</p>
                        <p>When Filed: {{ item.dt_filed }}</p>
                        <p>Description: {{ item.description }}</p>
                        <p>Filed by: {{ item.filed_by }}</p>
                        <p>Status: {{ item.ticket_status }}</p>
                        <p>Assigned To: {{ item.assigned_to }}</p>
                        <p>Completed By: {{ item.completed_by }}</p>
                        <p>----------------------------------------------------------------------------</p>
                        
                        {% endif %}
                    {% endfor %}
            
                    <p></p>

</body>