<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
    <p></p>
    <a href="/addticket/">|Create Ticket|</a>
    <p>-----------------------------------------------------------------------------------</p>


   
    <p></p>
        <h4>New</h4>
       <ul>

        {% for item in tickets %}
        {% if item.ticket_status == 'NW' %}

            <li><a href="/ticket/{{ item.id }}/">Title: {{ item.title }}</a></li>
            <li><a href="/author/{{ item.filed_by.id }}/">Filed by: {{ item.filed_by }}</a></li>
            <li>Status: {{ item.ticket_status }}</li>
            <li>Assigned To: {{ item.assigned_to }}</li>
            <p>----------------------------------------------------------------------------</p>
            
            {% endif %}
        {% endfor %}

       </ul>
        <p></p>
            <h4>Working On It...</h4>
            <ul>
                {% for item in tickets %}
                {% if item.ticket_status == 'IP' %}
        
                    <li><a href="/ticket/{{ item.id }}/">Title: {{ item.title }}</a></li>
                    <li><a href="/author/{{ item.filed_by.id }}/">Filed by: {{ item.filed_by }}</a></li>
                    <li>Status: {{ item.ticket_status }}</li>
                    <li>Assigned To: {{ item.assigned_to }}</li>
                    <p>----------------------------------------------------------------------------</p>
                    
                    {% endif %}
                {% endfor %}
            </ul>

            <p></p>

                <h4>Done-zo!</h4>
                <ul>
                    {% for item in tickets %}
                {% if item.ticket_status == 'DN' %}
        
                    <li><a href="/ticket/{{ item.id }}/">Title: {{ item.title }}</a></li>
                    <li><a href="/author/{{ item.filed_by.id }}/">Filed by: {{ item.filed_by }}</a></li>
                    <li>Status: {{ item.ticket_status }}</li>
                    <li>Assigned To: {{ item.assigned_to }}</li>
                    <p>----------------------------------------------------------------------------</p>
                    
                    {% endif %}
                {% endfor %}
                </ul>
    
                <p></p>

                    <h4>:( Invalid</h4>
                    <ul>

                        {% for item in tickets %}
                    {% if item.ticket_status == 'IN' %}
            
                        <li><a href="/ticket/{{ item.id }}/">Title: {{ item.title }}</a></li>
                        <li><a href="/author/{{ item.filed_by.id }}/">Filed by: {{ item.filed_by }}</a></li>
                        <li>Status: {{ item.ticket_status }}</li>
                        <li>Assigned To: {{ item.assigned_to }}</li>
                        <p>----------------------------------------------------------------------------</p>
                        
                        {% endif %}
                    {% endfor %}

                    </ul>
            
                    <p></p>

</body>