<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <h1>{{ heading }}</h1>
   
    <p></p>
    <a href="/">|Home|</a>     <a href="/addticket/">|Create Ticket|</a>

            <h4>Ticket#: {{ ticket.id }}</h4>
            <p>Title: {{ ticket.title }}</p>
            <p>When Filed: {{ ticket.dt_filed }}</p>
            <p>Description: {{ ticket.description }}</p>
            <p>Filed by: {{ ticket.filed_by }}</p>
            <p>Status: {{ ticket.ticket_status }}</p>
            <p>Assigned To: {{ ticket.assigned_to }}</p>
            <p>Completed By: {{ ticket.completed_by }}</p>
            <p>----------------------------------------------------------------------------</p>
            
        
</body>